@page
@model DoAn_LTHDT.Pages.Categories.CreateCategoryModel
@{
}
<p> Please Enter Category Information</p>
<br />

<form method="Post">
	<input type="Text" name="nameCategory" required/><br/>
	<input type="submit" value="ok"/>
</form>


<p>@Model.result</p>